*{
    margin: 0;
    padding: 0;
    
}
.navbar-custom {
    background-color: #343a40; /* Customize your navbar color */
  }
  .navbar-brand {
    font-weight: bold;
    text-decoration: none;
    padding-left: 2vw;
   

  }
  .navbar{
    background-color: #ADBBDA;
    color: #7091e6;
    padding: 2vw;
    
  }

  .container-fluid{
    background-color: #ede8f5 ;
  }
  .home-page{
    height: 90vh;
    text-align: center;
  }
  .mainHeading{
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      font-weight: 500;
      
  }
  .nameHeading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    font-weight: 500;
    
  }
  .profile_image{
    height: 60vh;
    width: 30vw;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 5px 6px 10px 0 rgba(214, 90, 90, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    
  }
  
  .para{
    text-align: start;
    

  }
  .mainHeading{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 10.5s steps(20, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }